//- "message" is a default variable, "success" is the key we define

//- flash always returns an array
//- if there is no message => []
//- replace to [0] helps fixing it
mixin alert-success(time)
    - if (message.success[0])
        .message.info 
            div(
                class="alert alert-success"
                show-alert
                data-time=time
            ) #{message.success[0]} <span close-alert>x</span>